
<footer class="footer">
    <div class="footer__text">
        <span class="footer__span">© SiteArt, 7075 Churwalden</span>
        <a class="footer__span" href="mailto:siteart@feritel.swiss"> Coded by
            Stephan
            Petersen</a>
        
    </div>


</footer>

