<nav>
            <div class="header__navigation">
                <div class="header__icon">
                    <a id="logo" href="index.html">
                     
                    </a>
                </div>
            
                <div class="hamburger__container">
                    <div id="hamburger">
                        <span class="burger"></span>
                        <span class="burger"></span>
                        <span class="burger"></span>
                    </div>
                </div>
            
            </div>
            
            <div id="offcanvas" class="header__site--navigation transparent-background">
                <nav class="nav">
                    <ul>
                        <li><a class="nav" href="index.html">Home</a></li>
                        <li><a class="nav" href="about.html">About</a>
                        </li>
                        <li><a class="nav" target="_blank" href="https://www.npmjs.com/package/handlebars-loader">handlebars-loader</a>
                        </li>
                    </ul>
                </nav>
            </div>
</nav>
