<div class="lead">
    <h1>Mixed composition of handlebar templates and webpack components</h1>
</div>
<div class="content">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime commodi dolores magni eligendi molestiae ad mollitia officia praesentium architecto ducimus, reiciendis hic earum accusantium quia perferendis excepturi eum doloribus provident corporis. Itaque facilis dignissimos praesentium earum veniam ipsum beatae nemo fugiat laboriosam. Doloremque fugit debitis molestiae nemo deleniti veritatis iste.
    </p>
</div>